.container {
    display: flex;
    flex-direction: row;
}

.pilotes {
    width: 40%;
    padding: 20px;
}

.ecuries {
    padding: 20px;
}

h2 {
    text-align: center;
}

table {
    width: 100%;
}